@import "../../assets/scss/utils.scss";


.result {
    &__wrapper {
        display: flex;
        flex-direction: column;
        background-color: color("white");
        width: rem(1200px);
        margin-left: rem(100px);
        margin-top: rem(100px);
        padding: rem(30px);
        a{
            align-self: center;
        }
    }
}
